<a href="https://colab.research.google.com/github/anjumariaphilip/SQUL-LITE-WITH-PYTHON/blob/main/PYTHON_WITH_SQUL_LITE10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
 
import sqlite3
 
conn = sqlite3.connect('/SalesDBNew (1).db')

 
cursor = conn.cursor()
cursor.execute("select min(quantity) from supermarket_sales")
 


print(cursor.fetchall())
  
conn.commit()
conn.close()


conn.close()

[('1',)]

In [3]:
conn = sqlite3.connect('/SalesDBNew (1).db')

 
cursor = conn.cursor()
cursor.execute("select count(quantity) from supermarket_sales")
 


print(cursor.fetchall())
  
conn.commit()
conn.close()


conn.close()

[(1000,)]

In [ ]:
conn = sqlite3.connect('/SalesDBNew (1).db')

 
cursor = conn.cursor()
cursor.execute("select count(quantity) from supermarket_sales")
 


print(cursor.fetchall())
  
conn.commit()
conn.close()


conn.close()

In [4]:
conn = sqlite3.connect('/SalesDBNew (1).db')

 
cursor = conn.cursor()
cursor.execute("select count(quantity) and avg(unitprice) from supermarket_sales")
 


print(cursor.fetchall())
  
conn.commit()
conn.close()


conn.close()

[(1,)]